<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <display-name>Test</display-name>

    <servlet>
        <servlet-name>PrimaryFrontendServlet</servlet-name>
        <servlet-class>de.uniba.jsonApiSimulation.frontend.PrimaryFrontendServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PrimaryFrontendServlet</servlet-name>
        <url-pattern>/add_faculty</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SecondaryFrontendServlet</servlet-name>
        <servlet-class>de.uniba.jsonApiSimulation.frontend.SecondaryFrontendServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SecondaryFrontendServlet</servlet-name>
        <url-pattern>/add_course</url-pattern>
    </servlet-mapping>

</web-app>
